<head>
     {{ template "imports.html" . }}
</head>

<body style="display: flex; flex-direction:column; background-color:white">

    <h1>Ayulochana.com</h1>

    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <div style="display: flex;">
        <div style="flex:2">
            <h1>A Super Awesome <br />Static Website!!</h1>
        </div>

        <div style="flex:1">

            <h3>Recent Posts</h3>
            {{ range where .Site.Pages "Params.type" "posts"}}

            <div style="width:240px; border: 1px solid gray; padding: 10px; margin-bottom:10px">
                <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                {{ . }}
            </div>
            {{ end }}

        </div>
    </div>
</body>